
/* 1 */
.AboutUs{
	background-color: #f8fafa;
	height: 900px;
}

.ABOUT{
	padding-top: 80px;
	padding-bottom: 50px;
	font: bold 3em Montserrat Bold, sans-serif;
	color: #505050;	
}

.Lorem{
	font-family:'Merriweather';
	color: #898a8a;
	font-size: 20px;
	
}

#blockslide{ 
	width: 487px;
    height: 489px;
} 

.d-block{
	padding-top: -50px;
}

.carousel-indicators .no{
	background-color: #d0d0d0;
    width: 10px;
    height: 10px;
    border: 1px;
    border-radius: 3px; 
}

.carousel-indicators .active{ 
	width: 10px;
    height: 10px;
    border: 1px;
    border-radius: 3px; 
	background-color: #71f6eb; 
}


.text{
	margin-top: 25px;
}

.We{
	color: #646565;
	font-family: 'Merriweather', serif;
    font-size: 28px;
    font-weight: bold;
}

.visual{
	color: #898a8a;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
}

/* 3 */
.Works{
	height: 1150px;
}

.feat{
	padding-top: 80px;
	font: bold 3em Montserrat Bold, sans-serif;
	color: #505050;	
}

.picture {
    margin-top: 102px;
}

.picture img {
    margin-top: 10px;
    margin-right: 7px;
}
